<div class="list-group-item">
  <div class="row">
    <div class="col-md-9">
      <div>
        <span class="d-inline fw-bold pe-2">
          <%= @booking.number.abs %>
        </span>
        <strong><%= @booking.thing.name %></strong>
        <small class="text-body-secondary"><%= @booking.thing.description %></small>
      </div>
      <div class="ps-3">
        <small class="text-body-secondary">presso <%= @booking.moves.first.deposit.location %></small>
        <% if @booking.thing.under_minimum? %>
          <span class="text-warning" title="sotto scorta minima"><%= dm_icon "circle-exclamation" %></span>
        <% end %>
      </div>
      <div class="ps-3">
        da 
        <%= link_to @booking.user, user_bookings_path(@booking.user) %>
        <%= "(#{@booking.note})" unless @booking.note.blank? %>
        <% if @booking.recipient %>
          <span class="text-body-secondary small">per <%= link_to @booking.recipient, user_bookings_path(@booking.recipient) %></span>
          <% if (cost_center = @booking.cost_center) %>
            <%= cost_center %>
          <% end %>
          <% if (pp = @booking.picking_point) %>
            <%= pp %>
          <% end %>
        <% end %>
      </div>
      <div class="ps-3">
        <% if @booking.lab_id %>
          <%= dm_icon "flask", text: "Lab: #{@booking.lab}" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-3 text-end">
      <div class="text-body-secondary"><%= l(@booking.created_at, format: :booking) if @booking.created_at %></div>
      <div>
        <%= helpers.link_to_check confirm_booking_path(@booking) %> 
        <%= helpers.link_to_delete "", booking_path(@booking) %> 
      </div>
    </div>
  </div>
</div>
