<%= dm_form_for [@thing, @image], html: { multipart: true }, title: 'Immagine' do |form| %>
  <p class="alert alert-info">ogni articolo può essere associato a una immagine</p>
  <%= form.file_field :photo %>
  <%= form.submit "Aggiungi immagine" %>  
<% end %>

<div class="image-list">
  <% @thing.images.each do |image| %>  
    <% if image.photo.attached? %>  
      <div class="image">
        <%= image_tag image.photo.variant(resize_to_limit: [300, 300]) %>
      </div>
      <div>
        <%= link_to_delete image_path(image) %>
      </div>
    <% end %>
  <% end %>
</div>
