<%= render Thing::ActionsComponent.new(current_user, @thing) %>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'form' %>  
  </div>
  <div class="col-md-6">

    <%= render partial: 'edit_deposits' %>
    <%= render partial: 'edit_barcodes' %>
    <%= render partial: 'edit_images' %>

    <div class="alert alert-light text-end">
      <%= 
        button_to dm_icon("trash-alt", text: "Elimina l'articolo", size: "xl"), 
          thing_path(@thing), 
          method: :delete,
          form: {
            data: {"turbo-confirm": "Sicuro di volere cancelare il materiale?"}
          },
          class: "btn btn-danger"
        %> 
    </div>
  </div>
</div>

