<%= thing_actions_menu %>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'form' %>  
  </div>
  <div class="col-md-6">

    <%= render partial: 'edit_deposits' %>
    <%= render partial: 'edit_barcodes' %>
    <%= render partial: 'edit_images' %>
  </div>
</div>

