<% if @location %>  
  <p class="info">Articoli presso <%= @location %></p>
<% elsif @search_string %>  
  <p class="info">Articoli che contengono <strong>"<%= @search_string %>"</strong></p>
<% end %>

<%= readonly_warning %>  

<div class="list-group">
  <% @things.each do |thing| %>
    <% disabled_class  = thing_actions_enabled? ? "" : " disabled " %>  
    <% highlight_class = (params[:from_thing] && params[:from_thing].to_i == thing.id) ? " bg-light " : "" %>  
    <% number = @location ? @actuals[thing.id] : thing.total %>  
    <%= link_to thing_actions_url(thing), data: {turbo: false}, class: "list-group-item list-group-item-action py-2" + disabled_class + highlight_class do %> 
      <%= thing.to_s_with_description %>
      <%= content_tag :span, number, class: "actual-number #{thing_color_class(thing, number)}" %>
    <% end %>
  <% end %>
</div>

<div class="row row-cols-1 row-cols-md-4 row-cols-lg-6 row-col-xl-6 g-2">
  <% @things.each do |thing| %>
    <% (thing.images.size > 0) or next %>
    <% disabled_class = thing_actions_enabled? ? "" : "disabled" %>  
    <% thing.images.limit(3).each do |image| %>  
      <% if image.photo.attached? %>  
        <%= link_to thing_actions_url(thing), class: "col #{disabled_class}", data: {turbo: false} do %>
          <div class="card h-100 my-2 p-2">
            <%= image_tag image.photo, class: 'card-img-top', alt: thing.to_s, style: '' %>
            <%# image_tag image.photo.variant(resize_to_limit: [300, 300]), class: 'card-img-top h-75', alt: thing.to_s, style: '' %>
            <div class="small" style="margin-top: auto">
              <div class="text-decoration-none fst-normal text-secondary text-center">
                <%= thing %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if @group && policy(current_organization).manage? %>
  <p class="centered_action my-3"> <%= link_to_new 'Nuovo Articolo', new_group_thing_path(@group) %></p>
<% end %>
