<p class="info">
Nel caso alcuni oggetti siano stati restituiti è possibile <strong>ridurne</strong> il  numero nel movimento di scarico.
</p>

<% 
  uhint = "Inserire il numero effettivamente ritirato il giorno " + I18n.l(@unload.date) + " da <b>" + @unload.user.to_s + "</b> " 
  uhint += "(per #{@unload.recipient}) " if @unload.recipient
  uhint += "presso #{@single_move.deposit.location}"
  ulabel =  "Numero (tra 1 e #{@numero - 1})" 
%>  

<%= dm_form_for @unload, title: "Correzione scarico di #{@unload.thing}" do |u| %>
  <%= u.dm_error_notification %>  
  <%= u.input :number, input_html: { value: (@numero - 1) }, label: ulabel, hint: uhint.html_safe %>
  <%= u.submit 'aggiorna' %> - <%= link_to_back thing_moves_path(@unload.thing_id) %>  
<% end %>

<p>
<a href="#" onClick="window.open('<%= signing_unload_path(@unload.id) %>', 'ricevuta', 'width=700,height=500,scrollbars=no');" > <%= dmicon('print') %> STAMPA RICEVUTA</a>
</p>


