<%= render Thing::ActionsComponent.new(current_user, @thing) %>

<% 
  form_title = "Modulo di scarico di #{h @thing} " 
  form_title += "(#{show_future_prices(@thing)})" if current_organization.pricing 
  form_title += "- presso #{@thing.deposits.first.location}" unless @thing.deposits.size == 1 
  form_title += "- Scarichi multipli Cesia" if params[:batch] 
  number_hint = "(massimo: #{@thing.max_actual_in_deposits})" 
  number_hint += ". Numero di oggetti da consegnare ad ogni persona." if params[:batch] 
%>  

<%= dm_form_for [@thing, @unload], title: form_title, html: { data: { controller: 'dsa', dsa_url_value: popup_find_user_path, dsa_lastupn_value: @last_recipient_upn, turbo: false }} do |u| %>
  <%= u.dm_error_notification %>  
  <input type="hidden" name="batch" value="<%= params[:batch] %>" />
  <%= u.input :number, hint: number_hint, required: true %>

  <% if @thing.deposits.size > 1 %>  
    <%= u.input :deposit_id, as: :unload_location %>  
  <% else %>
    <%= u.hidden_field :deposit_id, value: @thing.deposits.first.id %>  
  <% end %>

  <%= u.input :note %>

  <% if policy(current_organization).give? %>
    <%= u.input :date, as: :date, html5: true %>

    <% if params[:batch] == 'y' %>  
      <%= u.input :recipient_upn, label: 'Indirizzi mail dei riceventi', 
        hint: 'Separare gli indirizzi con la virgola. Usare meno di 20 indirizzi per volta.', as: :text %>
    <% else %>
      <%= content_tag :div, data: { controller: "dsa-awesomplete", dsa_awesomplete_users_value: @cache_users_json } do %>
        <%= u.input :recipient_upn, hint: recipient_hint(@unload) %>
      <% end %>
      <div class="col-sm-9 offset-sm-3 mb-4"> 
        È possibile 
        <%= link_to dmicon('search') + "cercare l'utente", "#", data: { action: 'click->dsa#searchUser' } %>
        <% if @unload.is_a?(Unload) %>  
          , richiamare l'<%= link_to 'ultimo utente inserito', '#', id: 'last_recipient_link', data: { action: 'click->dsa#setLastUpn' } %> 
        <% end %> 
        o scrivere l'indirizzo email.
      </div>
    <% end %>
  <% end %> 

  <div class='col-sm-9 offset-sm-3'>
    <input type="checkbox" id="unload_sendmail" name="sendmail" <%= current_organization.sendmail == 'y' ? 'checked="checked"' : '' %> />
    <%= u.label "Avvisa ora l'utente dell'operazione tramite mail." %>
    <% if current_organization.sendmail == 'w' %>
      <%= u.hint "(in base a come è attualmente configurata la struttura, l'utente verrà comunque avvisato dei suoi scarchi ogni settimana)." %>
    <% elsif current_organization.sendmail == 'm' %>
      <%= u.hint "(in base a come è attualmente configurata la struttura, l'utente verrà comunque avvisato dei suoi scarchi ogni mese)." %>
    <% end %>
  </div>

  <%= u.submit %>
  <% if current_organization.code == 'cesia' %>  
    <br/>
    <%= link_to 'Scarichi Multipli Cesia', new_thing_unload_path(@thing, batch: 'y'), class: "float-end" %>  
  <% end %>

  <%= thing_image(@thing) %>  
<% end %>
