<%= booking_title %>

<% @users_bookings = @books.inject(Hash.new { |h, k| h[k] = [] }) { |memo, book| memo[(book.recipient&.cn_militar or book.user&.cn_militar)] << book; memo } %>

<% if @books.load.any? %>  
  <% @things_cache = Hash.new {|h,v| h[v] = 0} %>  
  <div class="list-group">
    <% @users_bookings.keys.sort.each do |user| %>
      <h2 class="mt-2"><%= user %></h2>
      <% @users_bookings[user].each do |book| %>
        <% @things_cache[book.thing] += book.number.abs %>
        <%= render Booking::LineComponent.new(book) %>
      <% end %>
      <div class="text-end">
        <%= button_to "conferma tutte le prenotazioni di #{user}", confirm_all_user_bookings_path(@users_bookings[user].first.user_id, booking_ids: @users_bookings[user].map(&:id)), form: {class: "btn btn-outline-success btn-sm mt-1"} %>
      </div>
    <% end %>
  </div>
  <div class="my-2 text-end">
    <%= button_to bookings_reports_path, form: {data: {turbo: false}, class: "d-inline"} do %>  
      <%= dm_icon("file-pdf", "regular", size: "xl", text: "scarica pdf") %>
    <% end %>
  </div>
  </div>

  <% if @things_cache.size > 1 %>  
    <div class="dm-card">
      <div class="dm-card-title">Riassunto oggetti prenotati</div>
      <div class="dm-card-body">
        <ul class="booking-things ps-0">
          <% @things_cache.each do |thing, num| %>  
            <li class="my-1">
              <span class="booking-number me-3 <%= thing_color_class(thing, num) %>">
                <%= num %>
              </span> 
              <%= link_to thing, thing_bookings_path(thing.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="my-2 text-end">
    <%= link_to 'mostra tutti', bookings_path, class: 'ms-4' %>  
  </div>

  <%= form_with url: barcode_bookings_path, method: :get do %>
    <div class="input-group">
      <span class="input-group-text">Ricerca attraverso codice a barre:</span>
      <input type="search" class="form-control" name="barcode"/>
      <%= submit_tag "cerca" %>
    </div>
  <% end %>

<% else %>
  <div class="alert alert-danger">Non ci sono prenotazioni.
    <%= "per l'utente #{@user}" if @user  %> 
    <%= "per #{@thing}" if @thing  %> 
    <%= "con il codice a barre richiesto" if params[:barcode] %>   
  </div>
<% end %>

<% if @cache_users.any? %>  
  <div class="dm-form">
    <div class="dm-form-title">Ricevute</div>
    <div class="dm-form-body">
      <%= simple_form_for :report, url: receipt_reports_path, data: { turbo: false } do |f| %>
        <%= f.input :user_id, collection: @cache_users, label_method: :cn_militar, include_blank: false, label: "Scarichi dell'utente" %>  
        <%= f.input :date, as: :date, html5: true, label: 'Data', input_html: {value: Date.today} %>  
        <input type="hidden" name="bookings" value="1" />  
        <%= f.submit "Scarica report" %>  
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  // Reload the page every 10 minutes (600,000 milliseconds)
  setInterval(function() { location.reload() }, 600000);
<% end %>
