<% if @books.size > 0 %>  
  <div class="dm-card">
    <div class="dm-card-title"><%= booking_title %></div>
    <div class="dm-card-body">
      <% @things_cache = Hash.new {|h,v| h[v] = 0} %>  
      <% old_user = nil %>  
      <table class="table table-sm">
        <% @books.each do |book| %>
          <tr>
            <% @things_cache[book.thing] += book.number.abs %>
            <% if ! @user and old_user != (old_user = book.user) %>  
              <th><%= link_to(book.user, user_bookings_path(book.user_id)) %></th>
            <% else %>
              <th style="border: 0"></th>
            <% end %>
            <td title="creato il <%= l book.created_at %>">
              <strong><%= book.number.abs %></strong> <%= book.thing %>
              <%= "per #{h book.recipient}" if book.recipient %> 
              <%= "(#{book.note})" unless book.note.blank? %>
            </td>
            <td nowrap="nowrap">
              <%= link_to_check confirm_booking_path(book) %> 
              <%= link_to_delete booking_path(book) %> 
              <%= link_to_change_and_confirm edit_booking_path(book) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <% if @things_cache.size > 1 %>  
    <div class="dm-card">
      <div class="dm-card-title">Riassunto oggetti prenotati</div>
      <div class="dm-card-body">

        <ul class="booking-things">
          <% @things_cache.each do |thing, num| %>  
            <li><span class="number me-3"><%= num %></span> <%= link_to thing, thing_bookings_path(thing.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= form_with url: barcode_bookings_path, method: :get do %>
    <div class="input-group">
      <span class="input-group-text">Ricerca attraverso codice a barre:</span>
      <input type="search" class="form-control" name="barcode"/>
      <%= submit_tag "cerca" %> <%= link_to 'mostra tutti', bookings_path, class: 'ms-4' %>  
    </div>
  <% end %>

<% else %>
  <div class="alert alert-danger">Non ci sono prenotazioni.
    <%= "per l'utente #{@user}" if @user  %> 
    <%= "con il codice a barre richiesto" if params[:barcode] %>   
  </div>
<% end %>

<% if @cache_users.any? %>  
  <div class="dm-form">
    <div class="dm-form-title">Ricevute</div>
    <div class="dm-form-body">
      <%= simple_form_for :report, url: receipt_reports_path, data: { turbo: false } do |f| %>
        <%= f.input :user_id, collection: @cache_users, label_method: :cn_militar, include_blank: false, label: "Scarichi dell'utente" %>  
        <%= f.input :date, as: :date, html5: true, label: 'Data', input_html: { value: Date.today } %>  
        <input type="hidden" name="bookings" value="1" />  
        <%= f.submit "Scarica report" %>  
      <% end %>
    </div>
  </div>
<% end %>

