<% if @books.size > 0 %>  
  <div class="dm-card">
    <div class="dm-card-title"><%= booking_title %></div>
    <div class="dm-card-body">
      <% @things_cache = Hash.new {|h,v| h[v] = 0} %>  
      <% old_user = nil %>  
      <% @books.each do |book| %>
        <% @things_cache[book.thing] += book.number.abs %>
        <% to_user = (book.recipient or book.user) %>
        <% if old_user != (old_user = to_user) %>  
          <div class="my-2">
            <%= link_to to_user, user_bookings_path(to_user.id) %>
          </div>
        <% end %>
        <div class="row my-1">
          <div class="col-md-9 ps-4">
            <span class="fw-bold pe-2"><%= book.number.abs %></span>
            <%= book.thing %>
            <% if book.thing.under_minimum? %>
              <span class="text-warning"><%= dm_icon "circle-exclamation" %></span>
            <% end %>
            <span class="ps-2 text-secondary">
              <%= "(#{book.note})" unless book.note.blank? %>
              <% if book.user != to_user %>
                da <%= link_to book.user, user_bookings_path(book.user) %>
              <% end %>
              <% if book.lab_id %>
                <%= dm_icon "flask", text: "Per lab. #{book.lab}" %>
              <% end %>
            </span>
          </div>

          <div class="col-md-3 text-end">
            <span class="text-secondary pe-2"><%= l(book.created_at, format: :booking) if book.created_at %></span>
            <%= link_to_check confirm_booking_path(book) %> 
            <%= link_to_delete "", booking_path(book) %> 
            <%= link_to_change_and_confirm edit_booking_path(book) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="my-2 text-end">
      <%# <%= link_to dm_icon("arrow-up-1-9", text: "Ordina per data"), "" %> 
      <%= button_to bookings_reports_path, form: { data: { turbo: false }, class: "d-inline"} do %>  
        <%= dm_icon("file-pdf", "regular", size: "xl", text: "scarica pdf") %>
      <% end %>
    </div>
  </div>

  <% if @things_cache.size > 1 %>  
    <div class="dm-card">
      <div class="dm-card-title">Riassunto oggetti prenotati</div>
      <div class="dm-card-body">

        <ul class="booking-things">
          <% @things_cache.each do |thing, num| %>  
            <li class="my-1">
              <span class="booking-number me-3 <%= thing_color_class(thing, num) %>"><%= num %></span> 
              <%= link_to thing, thing_bookings_path(thing.id) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="my-2 text-end">
    <%= link_to 'mostra tutti', bookings_path, class: 'ms-4' %>  
  </div>

  <%= form_with url: barcode_bookings_path, method: :get do %>
    <div class="input-group">
      <span class="input-group-text">Ricerca attraverso codice a barre:</span>
      <input type="search" class="form-control" name="barcode"/>
      <%= submit_tag "cerca" %>
    </div>
  <% end %>

<% else %>
  <div class="alert alert-danger">Non ci sono prenotazioni.
    <%= "per l'utente #{@user}" if @user  %> 
    <%= "con il codice a barre richiesto" if params[:barcode] %>   
  </div>
<% end %>

<% if @cache_users.any? %>  
  <div class="dm-form">
    <div class="dm-form-title">Ricevute</div>
    <div class="dm-form-body">
      <%= simple_form_for :report, url: receipt_reports_path, data: { turbo: false } do |f| %>
        <%= f.input :user_id, collection: @cache_users, label_method: :cn_militar, include_blank: false, label: "Scarichi dell'utente" %>  
        <%= f.input :date, as: :date, html5: true, label: 'Data', input_html: {value: Date.today} %>  
        <input type="hidden" name="bookings" value="1" />  
        <%= f.submit "Scarica report" %>  
      <% end %>
    </div>
  </div>
<% end %>

<%= javascript_tag do %>
  // Reload the page every 10 minutes (600,000 milliseconds)
  setInterval(function() {
  location.reload();
  }, 600000);
<% end %>
