<h1><%= booking_title %></h1>

<div class="alert alert-info">
  Da questa pagina è possibile consultare e cancellare le proprie prenotazioni.
</div>

<div class="bookings-list my-3">
  <% @books.each do |o|  %>  
    <%= content_tag :div, class: "bookings-list-item #{o.class}" do %>
      <div class="row ">
        <div class="col-2 col-lg-1">
          <div class="move-number py-1 px-2"><%= o.number.abs %></div>
        </div>

        <div class="col">
          <div>
            <span class="pe-2"><%= l o.date %></span>
            <span class="font-weight-bold"><%= o.thing %></span>
            <small class="text-body-secondary">da <%= o.moves.first.deposit.location %></small>
            <span class="float-end">
              <%= link_to_delete "", booking_path(o) %>
            </span>
          </div>
          <div>
            <% if o.recipient_id %>
              Responsabile: <strong><%= o.recipient %></strong>
              <% if (dip = o.department) %>
                <%= dip %>
              <% end %>
              <% if (pp = o.picking_point) %>
                <%= pp %>
              <% end %>
            <% end %>
          </div>
          <% if o.lab_id %>
            <div>
              <%= dm_icon "flask", text: "Per lab. #{o.lab}" %>
            </div>
          <% end %>
          <% unless o.note.blank? %>
            <div style="margin-left: 6em" class="text-muted">
              note: <%= o.note %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
