<h1><%= booking_title %></h1>

<p class="info">
Da questa pagina è possibile consultare e cancellare le proprie prenotazioni.
</p>

<div class="bookings-list my-3">
  <% @books.each do |o|  %>  
    <%= content_tag :div, class: "bookings-list-item #{o.class}" do %>
      <div class="row ">
        <div class="col-2 col-md-2 col-lg-1">
          <div class="move-number py-1 px-2"><%= o.number.abs %></div>
        </div>

        <div class="col my-1">
          <span class="mr-2">
            <%= l o.date %>
          </span>
          <span class="font-weight-bold"><%= o.thing %></span>
          <span class="float-right">
            <%# <% if current_organization.pricing %1> %>
            <%#   <span class="number font-weight-bold mx-2"><%= show_future_prices(o.thing) %1></span> %>
            <%# <% end %1> %>
            <%= link_to_delete booking_path(o) %>
          </span>
          <br/>
          <% if o.recipient_id %>
            Responsabile: <%= o.recipient %>
          <% end %>
          <span style="margin-left: 6em" class="text-muted">
            <%= o.note %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
