<h1><%= booking_title %></h1>

<div class="alert alert-info">
Da questa pagina è possibile consultare e cancellare le proprie prenotazioni.
</div>

<div class="bookings-list my-3">
  <% @books.each do |o|  %>  
    <%= content_tag :div, class: "bookings-list-item #{o.class}" do %>
      <div class="row ">
        <div class="col-2 col-lg-1">
          <div class="move-number py-1 px-2"><%= o.number.abs %></div>
        </div>

        <div class="col">
          <span class="pe-2"><%= l o.date %></span>
          <span class="font-weight-bold"><%= o.thing %></span>
          <span class="float-end">
            <%= link_to_delete "", booking_path(o) %>
          </span>
          <br/>
          <% if o.recipient_id %>
            Responsabile: <%= o.recipient %>
          <% end %>
          <% if o.lab_id %>
            (per laboratorio <strong><%= o.lab %></strong>)
          <% end %>
          <span style="margin-left: 6em" class="text-muted">
            <%= o.note %>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
