<% form_title = "Prenotazione di #{h @thing}".html_safe %>  
<% form_title += " - presso #{h @thing.deposits.first.location}".html_safe if @thing.deposits.size == 1 %> 
<% if current_organization.pricing %>
  <% form_title += " (#{show_future_prices(@thing)})" %>
<% end %>

<%= dm_form_for [@thing, @book], title: form_title do |f| %>
  <%= f.dm_error_notification %>
  <% if @delegators.size > 1 %>  
    <%= f.input :recipient_id, collection: @delegators, label_method: :cn_militar, as: :radio_buttons, hint: t(:booking_recipient_hint) %>  
  <% end %>
  <% if current_organization.with_labs %>
    <div data-controller="limit-visible">
      <div class="form-check offset-sm-3 my-4">
        <input type="checkbox" name="didattica" class="form-check-input" id="didattica" data-action="change->limit-visible#update"></input>
        <label for="didattica" class="form-check-label">Per la didattica</label>
      </div>
      <div id="lab_div" style="display: none" data-limit-visible-target="item" data-text="true">
        <%= f.association :lab, collection: current_organization.labs, as: :radio_buttons %>
      </div>
    </div>
  <% end %>

  <%= f.input :number, hint: "Numero articoli da prenotare (massimo: #{@thing.max_actual_in_deposits})" %>

  <% if @thing.deposits.size > 1 %>  
    <%= f.input :deposit_id, as: :booking_location, hint: 'Ricordiamo che è possibile fare più prenotazioni successive scelte da ubicazioni diverse.' %>  
  <% else %>
    <%= f.hidden_field :deposit_id, value: @thing.deposits.first.id %>  
  <% end %>

  <%= f.input :note %>
  <%= f.submit 'prenota' %>
<% end %>

<% if false && @thing.under_minimum? %>
  <div class="alert alert-warning">
    POCHI OGGETTI
  </div>
<% end %>
