<% form_title = "Prenotazione di #{h @thing}".html_safe %>  
<% form_title += " - presso #{h @thing.deposits.first.location}".html_safe if @thing.deposits.size == 1 %> 
<% if current_organization.pricing %>
  <% form_title += " (#{show_future_prices(@thing)})" %>
<% end %>

<%= dm_form_for [@thing, @book], title: form_title do |f| %>
  <%= f.dm_error_notification %>
  <% if @delegations.any? %>  
    <%= f.input :delegation_id, collection: @delegations_with_blank, as: :radio_buttons, hint: t(:booking_recipient_hint) %>  
  <% end %>
  <% if (labs = current_organization.labs).any? %>
    <div data-controller="limit-visible">
      <div class="form-check offset-sm-3 my-4">
        <input type="checkbox" name="didattica" class="form-check-input" id="didattica" data-action="change->limit-visible#update"></input>
        <label for="didattica" class="form-check-label">Per la didattica</label>
      </div>
      <div id="lab_div" style="display: none" data-limit-visible-target="item" data-text="true">
        <%= f.association :lab, collection: labs, as: :radio_buttons %>
      </div>
    </div>
  <% end %>

  <%# FIXME %>
  <% if @thing.dewars&.any? %>
    <%= f.input :number, as: :select, label: "Dewar riempito", collection: @thing.dewars.sort.map {|x| ["#{x} litri", x]}, required: true %>
    <%# <div class='col-sm-9 offset-sm-3 my-2'> %>
    <%#   <input type="checkbox" id="cold_dewar" name="unload[cold_dewar]" value="1" /> %>
    <%#   <label for="cold_dewar">Dewar già freddo</label> %>
    <%# </div> %>
  <% else %>
    <%= f.input :number, hint: "Numero articoli da prenotare (massimo: #{@thing.max_actual_in_deposits})" %>
  <% end %>

  <% if @thing.deposits.size > 1 %>  
    <%= f.input :deposit_id, as: :booking_location, hint: 'Ricordiamo che è possibile fare più prenotazioni successive scelte da ubicazioni diverse.' %>  
  <% else %>
    <%= f.hidden_field :deposit_id, value: @thing.deposits.first.id %>  
  <% end %>

  <%= f.input :note %>
  <%= f.submit 'prenota' %>
<% end %>

<% if false && @thing.under_minimum? %>
  <div class="alert alert-warning">
    POCHI OGGETTI
  </div>
<% end %>
