<% con = controller.controller_name %>
<% act = controller.action_name %>
<% active_class = "class='active'".html_safe %>

<ul id="thingmenu" role="tablist">
  <li <%= active_class if (con == 'unloads' and act == 'new') %>>
    <%= link_to '<i class="fa fa-fw fa-arrow-circle-down"></i> scarica'.html_safe, new_thing_unload_path(@thing) %> 
  </li>
  <li <%= active_class if (['loads', 'stocks'].include?(con) and act == 'new') %>>
    <%= link_to '<i class="fa fa-fw fa-plus-circle"></i> carica'.html_safe, new_thing_load_path(@thing) %> 
  </li>
  <li <%= active_class if (['takeovers'].include?(con) and act == 'new') %>>
    <%= link_to '<i class="fa fa-fw fa-reply"></i> resa'.html_safe, new_thing_takeover_path(@thing), title: "registrazione presa consegna" %> 
  </li>
  <li <%= active_class if (con == 'moves' and act == 'index') %>>
    <%= link_to '<i class="fa fa-fw fa-list"></i> storico'.html_safe, thing_moves_path(@thing), title: "visualizza, modifica ed elimina carichi e scarichi" %>
  </li>
  <li <%= active_class if (con == 'things' and act == 'edit') %>>
    <%= link_to '<i class="fa fa-fw fa-edit"></i> modifica'.html_safe, edit_thing_path(@thing), title: "modifica le caratteristiche dell'articolo" %> 
  </li>
  <li>
    <%= link_to '<i class="fa fa-fw fa-trash-alt"></i> elimina'.html_safe, thing_path(@thing), method: :delete, data: { confirm: 'Sicuro di volere cancelare il materiale?'}, title: "elimina l'articolo" %> 
  </li>
</ul>


