<h1 class="h1">
  GE.M.MA <br/>
  <span class="small">GEstione Multiutente MAteriale di consumo</span>
</h1>

<% if current_user %>
  <% if @available_organizations.any? %>
    <h3 class="my-3">Scegli la struttura su cui vuoi operare</h3>

    <% @available_organizations.each do |o| %>
      <div class="py-1">
        <%= link_to o, groups_path(__org__: o.code), class: "btn btn-outline-primary btn-lg w-100" %>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-danger">Non hai accesso a nessuna struttura organizzativa.<br/>
      Se la struttura a cui vuoi accedere permette la prenotazione del materiale devi utilizzare l'indirizzo corretto <br/> 
      (del tipo <i>https://gemma.unibo.it/<b>codice_struttura</b></i> come fornito dal resposabile della struttura su cui devi operare).
    </div>
  <% end %>
<% else %>
  <div class="text-center my-3">
    <h3 class="my-3">Per accedere usare le credenziali di Ateneo.</h3>
    <% if Rails.env.development? && Rails.configuration.dm_unibo_common[:omniauth_provider] == :developer %>
      <%= form_with url: "/dm_unibo_common/auth/developer", data: {turbo: false} do |f| %> 
        <%= f.button dm_icon('sign-in', text: " Developer login", size: :lg), class: "btn btn-primary" %> 
      <% end %>
    <% elsif Rails.env.production? && Rails.configuration.dm_unibo_common[:omniauth_provider] == :azure_activedirectory_v2 %>
      <%= form_with url: "/dm_unibo_common/auth/azure_activedirectory_v2", data: {turbo: false} do |f| %> 
        <%= f.button dm_icon('sign-in', text: " Unibo login", size: :lg), class: "btn btn-primary" %> 
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="alert alert-light my-3">
  <%= Rails.configuration.home_description %>
</div>
