<% str = @thing.deposits.size > 1 ? "Numero di oggetti da caricare in ogni ubicazione" : "Numero oggetti da caricare" %>  

<div class="form-group row required">
  <%= o.label str, class: 'col-sm-3 col-form-label required', required: true %>
  <div class="col-sm-9">
    <% @thing.deposits.each do |dep| %>  
      <% val = @total_from_orders ? @total_from_orders : @numbers[dep.id] %>  
      <input type="number" class="form-control required numeric integer mt-2 mb-0 mr-1" name="numbers[<%= dep.id %>]" value="<%= val %>" step="1" size="5" />
      <% @total_from_orders = nil if @total_from_orders %>
      in <strong><%= dep.location %></strong> (attualmente sono <%= dep.actual %>) 
    <% end %>
  </div>
</div>

