<% @stock_possible = (! @thing.has_operation?) %>  
<% @all_ddts = current_organization.ddts.includes(:supplier).order('ddts.number desc').where('date > (NOW() - INTERVAL 500 DAY)') %>

<% if @stock_possible %>
  <div class="alert alert-warning">
    <%= dm_icon('exclamation-circle', size: :xl) %> <strong>Attenzione!</strong> 
    Non è ancora stato registrato alcun carico di questo materiale.<br/>
    Per indicare che questo carico proviene da una <strong>giacenza iniziale</strong>, scegliere 
    <%= link_to "Carico da Giacenza Iniziale", new_thing_stock_path(@thing), class: 'btn btn-success' %>.
  </div>
<% end %>

<%= render Thing::ActionsComponent.new(current_user, @thing) %>

<%= dm_form_for [@thing, @load], title: "Modulo di carico di #{@thing}" do |f| %>
  <%= f.dm_error_notification %>  
  <%= f.association :ddt, collection: @all_ddts, label_method: :description_with_date, required: true, hint: "Ddt/Fattura con cui è arrivato il materiale oppure crea un #{link_to 'nuovo ddt.', new_ddt_path}".html_safe %>

  <%= render 'loads/numbers_form', f: f %>  

  <%= f.input :date, as: :date, html5: true %>
  <% if current_organization.pricing %>  
    <%= f.input :price, as: :price, hint: 'Euro e centesimi' %>
  <% end %>

  <%= f.input :ycia, as: :rif_cia, hint: 'Anno / numero' %>  
  <%= f.input :note %>

  <%= f.submit %> - <%= link_to_back thing_moves_path(@thing) %>  
  <%= thing_image(@thing) %>  
<% end %>
