<%= render Thing::ActionsComponent.new(current_user, @thing) %>

<% title = "Lista movimenti di #{@thing}" %>
<% title += " presso #{@deposit.location}" if @deposit %>

<% at_last_one = false %>  

<% if @moves.size > 0 %>
  <% total = 0 %>

  <div class="m-3 font-weight-bold">
    <div><%= title %></div>
    <div class="text-muted small">(Per operare su un singolo movimento cliccare sulla riga).</div>
  </div>

  <%= render Pagination::MovesYearComponent.new(@first_year, @last_year, @display_year, @thing, @deposit) %>  

  <div class="moves-list">
    <% @moves.each do |move| %>
      <% operation = move.operation %>
      <% next if (!@deposit && operation.is_shift?) %>
      <% number = (@deposit || operation.is_shift?) ? move.number : operation.number %>
      <% total += number %>

      <% if @display_year == operation.date.year %>  
        <% at_last_one = true %>  
        <%= render Move::LineComponent.new(move, number, total, current_organization.pricing) %>
      <% end %>
    <% end %>
  </div>

<% end %>

<% unless at_last_one %>  
  <p class="alert alert-info m-3">Non sono stati registrati movimenti per il materiale selezionato nel <%= @display_year %>.</p>
<% end %>

<%= content_tag :div, class: "my-2 row" do %>
  <div class="col-8 offset-2 col-sm-10 offset-sm-1 pr-0">
    <span class="text-success font-weight-bold float-end">
      Tot. Disponibili: <%= total %> 
    <% if current_organization.pricing %>
      &nbsp; [ <%= show_future_prices(@thing) %> ]
    <% end %>
    </span>
  </div>
<% end %>

<% if @deposits.size > 1 %>
  <div style="align: right; max-width: '600px'">
    <%= dm_card title: "Disposizione giacenze" do %>
      <table class="table table-sm">
        <% @deposits.each do |dep| %>
          <tr>
            <th class="number"><%= dep.actual %></th>
            <td>in <%= dep.location %></td>
            <td><%= link_to dm_icon("search", text: "mostra movimenti"), deposit_moves_path(dep, y: @display_year), title: 'visualizza, modifica ed elimina carichi e scarichi.' %></td>
          </tr> 
        <% end %>
        <tr>
          <th class="number"><%= @thing.total %></th>
          <td><strong>nell'intera struttura</strong></td>
          <td><%= link_to dm_icon("search", text: " mostra movimenti"), thing_moves_path(@thing) %></td>
        </tr>
      </table> 
      <%= link_to "Sposta giacenze tra ubicazioni", new_thing_shift_path(@thing), class: :button %>
    <% end %>
  </div>
<% end %>

<% if current_organization.pricing %>  
  <%= link_to 'ricalcola i prezzi', recalculate_prices_thing_path(@thing) %>  
<% end %>

<%= javascript_tag do %>  
  var show_secondary = (event, element) => {
    element.nextElementSibling.style.display = 'block'
  }
<% end %>

