<%= render Thing::ActionsComponent.new(current_user, @thing) %>

<% title = "Lista movimenti di #{@thing}" %>
<% title += " presso #{@deposit.location}" if @deposit %>

<% at_last_one = false %>  

<% if @operations.size > 0 %>
  <% tot = 0 %>

  <div class="m-3 font-weight-bold">
    <%= title %> <span class="text-muted small">(Per operare su un singolo movimento cliccare sulla riga).</span>
  </div>

  <% if @first_year != @last_year %>  
    <nav aria-label="Seleziona l'anno">
      <ul class="pagination justify-content-center">
        <% (@first_year .. @last_year).each do |y| %>  
          <% where_to = @deposit ? deposit_moves_path(@deposit, y: y) : thing_moves_path(@thing, y: y) %>  
          <li class="page-item <%= class_active_val(@display_year, y) %>">
            <%= link_to y, where_to, class: 'page-link' %>  
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>

  <div class="moves-list">
    <% @operations.each do |o| %>

      <% (o.is_shift? and next) unless @deposit %>
      <% number = @deposit ? o.moves.first.number : o.number %>
      <% tot += number %>

      <% if @display_year == o.date.year %>  
        <% at_last_one = true %>  
        <%= content_tag :div, class: "moves-list-item #{o.class}" do %>
          <div class="row">
            <div class="col-2 col-md-2 col-lg-1">
              <div class="move-number py-1 px-2"><%= number %></div>
            </div>

            <div class="col">
              <div class="main-information my-1" onClick="show_secondary(event, this)">
                <!-- caret --> <span class="mx-2"><i class="fas fa-caret-right"></i></span>
                <%= l o.date %> 
                <span class="ms-2 font-weight-bold"><%= organization_description(o) %></span>
                <span class="move-remaining float-end px-2 <%= 'move-negative' if tot < 0 %>">
                  <%= tot %>
                </span>
                <% if current_organization.pricing && o.price %>
                  <span class="float-end me-2"><%= o.price_string %></span>
                <% end %>
              </div>

              <div class="secondary-information mt-2">
                <span class="text-muted">
                  <% unless o.ncia.blank? %> 
                    rif.cia: <%= o.ycia %>/<%= o.ncia %> 
                <% end %>
                <% unless o.note.blank? %>
                  <%= o.note %> 
                <% end %>
                <% if current_organization.pricing && o.price && o.price > 0 && o.number < 0 %>
                  <br/>origine prezzo: <%= show_price_origins(o) %>
              <% end %>
                </span>
                <span class="float-end">
                  <%= move_action_icons(o, number).html_safe %>
                </span>
              </div>
            </div>
          </div>
        <% end %><!-- content_tag -->
      <% end %> <!-- if year -->
    <% end %> <!-- operations -->
  </div><!-- moves-list -->

<% end %>

<% unless at_last_one %>  
  <p class="alert alert-info m-3">Non sono stati registrati movimenti per il materiale selezionato nel <%= @display_year %>.</p>
<% end %>

<%= content_tag :div, class: "my-2 row" do %>
  <div class="col-8 offset-2 col-sm-10 offset-sm-1 pr-0">
    <span class="text-success font-weight-bold float-end">
      Tot. Disponibili: <%= tot %> 
    <% if current_organization.pricing %>
      &nbsp; [ <%= show_future_prices(@thing) %> ]
    <% end %>
    </span>
  </div>
<% end %>

<% if @deposits.size > 1 %>
  <div style="align: right; max-width: '600px'">
    <%= dm_card title: "Disposizione giacenze" do %>
      <table class="table table-sm">
        <% @deposits.each do |dep| %>
          <tr>
            <th class="number"><%= dep.actual %></th>
            <td>in <%= dep.location %></td>
            <td><%= link_to dmicon('search') + " mostra movimenti", deposit_moves_path(dep, y: @display_year), title: 'visualizza, modifica ed elimina carichi e scarichi.' %></td>
          </tr> 
        <% end %>
        <tr>
          <th class="number"><%= @thing.total %></th>
          <td><strong>nell'intera struttura</strong></td>
          <td><%= link_to dmicon('search') + " mostra movimenti", thing_moves_path(@thing) %></td>
        </tr>
      </table> 
      <%= link_to "Sposta giacenze tra ubicazioni", new_thing_shift_path(@thing), class: :button %>
    <% end %>
  </div>
<% end %>

<% if current_organization.pricing %>  
  <%= link_to 'ricalcola i prezzi', recalculate_prices_thing_path(@thing) %>  
<% end %>

<%= javascript_tag do %>  
  var show_secondary = (event, element) => {
    element.nextElementSibling.style.display = 'block'
  }
<% end %>
