<%= dm_form_for [@thing, @shift], title: "Spostamento giacenze di \"#{@thing}\" tra ubicazioni." do |s| %>
  <%= s.dm_error_notification %>  

  <%= s.input :date, as: :date, html5: true %>
  <%= s.input :number, hint: 'Numero di oggetti da spostare' %>

  <div class="row shift-locations my-4">
    <div class="shift-from col-md-6 px-2 text-end">
      <div class="control-label">da:</div>
      <% @deposits.each do |dep| %> 
        <%= radio_button_tag "shift[from]", dep.id, false, { disabled: (dep.actual < 1) } %> 
        <%= label_tag "shift[from]_#{dep.id}", "#{dep.location} (#{dep.actual} disponibili)" %><br/>  
      <% end %>
    </div>
    <div class="shift-to col-md-6 px-2">
      <div class="control-label">a:</div>
      <% @deposits.each do |dep| %>
        <%= radio_button_tag "shift[to]", dep.id, false %>
        <%= label_tag "shift[to]_#{dep.id}", dep.location %> <br/>
      <% end %>
    </div>
  </div>

  <%= submit_tag "Sposta" %> - <%= link_to_back [:edit, @thing] %>  
<% end %>
