<p>Gentile <%= @user %>,</p>

<p>
in data odierna Lei ha ritirato 
</p>

<p style="margin-left: 1rem">
numero <%= @unload.number.to_i.abs %> di <i>"<%= @unload.thing %>"</i>
<%= @unload.price if (@unload.organization.pricing && @unload.price > 0) %>.
<p>

<p>
attraverso il programma di richiesta materiale di consumo - cancelleria 
presso la struttura <i>"<%= @unload.organization.description %>"</i>.
</p>

<p>
L'amministrazione Le ha inviato questa mail come promemoria.
</p>

<p style="margin-left: 1rem">
Con i migliori saluti
</p>

<p>
Amministrazione 
<%= @unload.organization.description %>
</p>
