<%= form_tag search_ddts_path do %>
  <%= helpers.dm_card title: 'Fornitore' do %>
    <%= text_field_tag "supplier", '', size: 10 %>
    <%= submit_tag 'Cerca' %>
  <% end %>
<% end %>

<%= form_tag search_ddts_path do %>
  <%= helpers.dm_card title: 'Num. Record' do %>
    <%= text_field_tag "number", '', size: 10 %>
    <%= submit_tag 'Cerca' %>
  <% end %>
<% end %>

<%= form_tag search_ddts_path do %>
  <%= helpers.dm_card title: 'Dettaglio (n. ddt/fatt)' do %>
    <%= text_field_tag "like", '', size: 10 %>
    <%= submit_tag 'Cerca' %>
  <% end %>
<% end %>

<%= form_tag search_ddts_path do %>
  <%= helpers.dm_card title: 'Ricerca per data documento' do %>
    <div class="row mb-3">
      <div class="col-sm-2">
        <label class="control-label">dal:</label>
      </div>
      <div class="col-sm-10">
        <%= text_field_tag :datainizio, l(Date.today - 1.month, format: :date_html5), type: 'date', class: 'form-control' %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-2">
        <label class="control-label">al:</label>
      </div>
      <div class="col-sm-10">
        <%= text_field_tag :datafine, l(Date.today, format: :date_html5), type: 'date', class: 'form-control' %>
      </div>
    </div>
    <%= submit_tag 'Cerca' %>
  <% end %>
<% end %>

<%= form_tag search_cia_ddts_path do %>
  <%= helpers.dm_card title: 'Rif. CIA - Nr. Prot.' do %>
    <div class="my-2">
      <%= select_tag "ycia", options_for_select(@years_cia), { include_blank: false, class: 'form-select select' } %>
    </div>
    <div>
      <%= text_field_tag "ncia", '', size: 10, class: 'form-control' %> <%= submit_tag 'Cerca', class: 'my-2' %>
    </div>
  <% end %>
<% end %>


