<%= content_tag :div, class: "moves-list-item #{@operation.class}" do %>
  <div class="row" onClick="show_secondary(event, this)">
    <div class="col-md-2 col-md-2 col-lg-1">
      <div class="move-number py-1 px-2"><%= @number %></div>
    </div>

    <div class="col-md">
      <div class="main-information">
        <%= l @operation.date, format: :in_list %> 
        <span class="ms-2 font-weight-bold">
          <%= render Move::OperationDescriptionComponent.new(@operation) %>
        </span>
        <span class="move-remaining float-end px-2 <%= 'move-negative' if @total < 0 %>">
          <%= @total %>
        </span>
        <% if @pricing && @operation.price %>
          <span class="float-end me-2"><%= @operation.price_string %></span>
        <% end %>
      </div>

      <div class="secondary-information visually-hidden my-2 d-md-flex">
        <div class="flex-fill text-muted">
          <% if @operation.ncia.present? %> 
            Rif.cia: <%= @operation.ycia %> / <%= @operation.ncia %> 
          <% end %>
          <% if @operation.note.present? %>
            <%= @operation.note %> 
          <% end %>
          <% if @pricing && @operation.price && @operation.price > 0 && @operation.number < 0 %>
            <div>Origine prezzo: <%= helpers.show_price_origins(@operation) %></div>
          <% end %>
          <div>
            <% if @operation.department %>
              Dip: <%= @operation.department %>
            <% end %>
            <% if @operation.lab %>
              Lab: <%= @operation.lab %>
            <% end %>
            <% if @operation.picking_point %>
              Ritiro: <%= @operation.picking_point %>
            <% end %>
          </div>
          <% if @operation.is_load? %>
            <div><%= link_to @operation.ddt.long_description, ddt_path(@operation.ddt) %></div>
          <% end %>
        </div>
        <div class="">
          <%= render Move::ActionsComponent.new(@move) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

