<%= render DmUniboCommon::ModalComponent.new(title: "Ricerca utente", noactions: true) do %>
  <% if Rails.configuration.unibo_common.searchable_provider %>
    <%= form_tag find_user_path, class: 'simple_form mb-3' do %>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Nome (<i>opzionale</i>):</label>
        <div class="col-sm-9"><%= text_field :dsauser, 'nome', size: 20, class: 'form-control string' %></div>
      </div>
      <div class="form-group row my-2">
        <label class="col-sm-3 col-form-label">Cognome:</label>
        <div class="col-sm-9"> <%= text_field :dsauser, 'cognome', size: 20, class: 'form-control string' %></div>
      </div>
      <%= submit_tag "Cerca" %>
    <% end %>

    <div id='upnresults'>
    </div>
  <% end %>

  <% if @cache_users.length > 0 %>
    <% if Rails.configuration.unibo_common.searchable_provider %>
      <p class="info">Oppure puoi scegliere tra questi utenti precedentemente selezionati: </p>
    <% end %>

    <ul id="previus_users">
      <% iniziale = '' %>

      <% @cache_users.each do |user| %>
        <% if (! user.surname.blank?) && iniziale != (iniziale = user.surname[0,1]) %>
          <li><span class="badge bg-info"><%= iniziale %></li>
        <% end %>
        <li>
          <%= content_tag :span, "#{user.name} #{user.surname}", id: user.upn, style: "text-decoration: underline; cursor: pointer",
            class: 'user_selector', 
            data: { controller: 'dsa', action: 'click->turbo-modal#hideModal click->dsa#select_user', :'dsa-userupn-value' => user.upn } %> 
          (<%= user.upn %>)
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
