<div class="alert alert-info">
  <p>Ubicazioni attuali per <q><%= @thing %></q>: 
  <ul>
    <% @actual_locations.each do |l| %>
      <li><%= l %></li>
    <% end %>
  </ul>
</div>

<!-- method post -->
<% if @other_locations.size > 0 %>  
  <%= dm_form_for @thing, url: thing_deposits_path(@thing), method: :post, title: 'Aggiungi ubicazioni', html: { data: { turbo: false }} do |thing| %>
    <%= thing.association :locations, collection: @other_locations, as: :check_boxes, label: 'Altre ubicazioni disponibili' %>  
    <%= thing.submit "Aggiungi" %> - <%= link_to_back edit_thing_path(@thing) %>  
  <% end %>
<% else %>
  <p class="alert alert-warning">
  Non sono disponibili altre ubicazioni da selezionare. 
  <%= link_to 'Crea una nuova ubicazione', new_location_path, class: :button %> - <%= link_to_back edit_thing_path(@thing) %> 
  </p>
<% end %>


