<ul id="thingmenu"
    role="tablist"
    class="w-75 mx-auto nav nav-pills nav-fill my-5 fs-6">
  <li class="nav-item">
    <% active = @controller == "unloads" && @action == "new" %>
    <%= link_to new_thing_unload_path(@thing), class: "nav-link #{"active" if active}" do %>
      <%= dm_icon("arrow-circle-down", text: "scarica", size: "2xl") %>
    <% end %>
  </li>
  <li class="nav-item">
    <% active = ["loads", "stocks"].include?(@controller) && @action == "new" %>
    <%= link_to new_thing_load_path(@thing), class: "nav-link #{"active" if active}" do %>
      <%= dm_icon("plus-circle", text: "carica", size: "2xl") %> 
    <% end %>
  </li>
  <li class="nav-item">
    <% active = ["takeovers"].include?(@controller) && @action == "new" %>
    <%= link_to new_thing_takeover_path(@thing), title: "registrazione presa consegna.", class: "nav-link #{"active" if active}" do %>
      <%= dm_icon("reply", text: "resa", size: "2xl") %>
    <% end %>
  </li>
  <li class="nav-item">
    <% active = @controller == "moves" && @action == "index" %>
    <%= link_to thing_moves_path(@thing), title: "visualizza, modifica ed elimina carichi e scarichi.", class: "nav-link #{"active" if active}" do %>
      <%= dm_icon("list", text: "storico", size: "2xl") %>
    <% end %>
  </li>
  <li class="nav-item">
    <% active = @controller == "things" && @action == "edit" %>
    <%= link_to edit_thing_path(@thing), title: "modifica le caratteristiche dell'articolo.", class: "nav-link #{"active" if active}" do %>
      <%= dm_icon("edit", text: "modifica", size: "2xl") %>
    <% end %>
  </li>
</ul>

