<%= report_layout do %>  
  <h1>Archivio</h1>

  <p class="info">
  Dopo ogni chiusura anno le operazioni <strong>non sono più modificabili</strong> e si possono solo consultare.
  </p>

  <% if @years.size > 0 %>  
    <%= form_tag action: 'list' do %>
      <%= render partial: "reports/format" %>
      <p>
      <label>Anno:</label>
      <select name="year">
        <%= @years.each do |year| %>  
          <option value="<%= year %>"><%= year %></option>
        <% end %>
      </select>
      </p>
      <p>
      <%= submit_tag "Scarica Report", class: 'button' %>
      </p>
    <% end %>
  <% else %>
    <p>
    Nella struttura <%= current_organization.description %> non è stata fatta ancora nessuna chiusura relativa ad anni passati.<br/>
    Per richiedere la chiusura degli anni passati si prega di inviare una mail 
    all'indirizzo <a href="mailto:dipmat-gemma@unibo.it">dipmat-gemma@unibo.it</a>.
    </p>
  <% end %>
<% end %>
