<%= report_layout do %>  
  <h1>Archivio</h1>

  <p class="info">
  Dopo ogni chiusura anno le operazioni <strong>non sono più modificabili</strong> e si possono solo consultare.
  </p>

  <% if @years.size > 0 %>  
    <%= simple_form_for :report, url: archs_list_path, data: { turbo: false } do |f|%>
      <%= render Report::FormatComponent.new(f) %>  
      <%= f.input :year, collection: @years, label: 'Anno'%>  
      <%= f.submit "Scarica", input_html: { data: { disable_with: false }} %>
    <% end %>
  <% else %>
    <p>
    Nella struttura <%= current_organization.description %> non è stata fatta ancora nessuna chiusura relativa ad anni passati.<br/>
    Per richiedere la chiusura degli anni passati si prega di inviare una mail 
    all'indirizzo <a href="mailto:dipmat-gemma@unibo.it">dipmat-gemma@unibo.it</a>.
    </p>
  <% end %>
<% end %>
