<h1>Deleghe attive</h1>

<p class="centered_action">
<%= link_to 'Nuova delega', new_delegation_path, class: 'btn btn-primary my-2' %>  
</p>

<div class="accordion" id="accordion">
  <% @delegations.keys.sort_by(&:surname).each do |delegator| %>  
    <div class="accordion-item">
      <div class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#delegator-<%= delegator.id %>" aria-expanded="true" aria-controls="delegator-<%= delegator.id %>">
          <strong><%= delegator.cn.upcase %></strong> (<%= delegator.upn %>)
        </button>
      </div>
      <div id="delegator-<%= delegator.id %>" class="accordion-collapse collapse" data-bs-parent="#accordion">
        <div class="accordion-body">
          <div>
            Elenco delegati:
          </div>
          <ul class="">
            <% @delegations[delegator].each do |delegation| %>
              <li class="d-flex justify-content-between">
                <div>
                  <%= delegation.delegate %> (<%= delegation.delegate.upn %>) 
                </div>
                <div>
                  <% if delegation.cost_center %>
                    per <strong><%= delegation.cost_center %></strong>
                  <% end %>
                  <% if delegation.picking_point %>
                    presso <strong><%= delegation.picking_point %></strong>
                  <% end %>
                  <%= link_to_delete "", delegation %>
                  <%= link_to_edit "", [:edit, delegation] %>
                </div>
              </li>
            <% end %>
          </ul>
          <%= link_to "Nuova delega per #{delegator}", new_delegation_path(delegator_id: delegator.id), class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
