<h1><%= current_organization.description %> <small class="text-muted"><%= current_organization.id %></small></h1>

<%= render partial: "form" %>

<%= dm_card title: "Utenti" do %>
  <ul>
    <% @permissions_hash.each do |authlevel, permissions| %>
      <% if permissions.any? %>  
        <% permissions.each do |p| %>
          <li>
            <span class="ps-2 py-1"><%= p.user ? p.user : p.network %>
            <%= Authorization.level_description(authlevel).downcase %>
          </li>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user.is_cesia? %>  
      <%= link_to 'Modifica', dm_unibo_common.organization_permissions_path(current_organization), class: 'btn btn-primary my-2' %>  
    <% end %>
  </ul>
<% end %>

<% if current_organization.with_labs %>
  <%= dm_card title: "Laboratori" do %>
    <div class="list-group my-2">
      <% current_organization.labs.each do |lab| %>
        <%= link_to [:edit, lab], class: "list-group-item list-group-item-action" do %>
          <%= lab %>
        <% end %>
      <% end %>
    </div>
    <% if policy(:lab).new? %>
      <%= link_to "Aggiungi Laboratorio", new_lab_path, class: "btn btn-primary my-2" %>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h2>Categorie</h2>
    <div class="list-group mb-3">
      <% current_organization.groups.order('groups.name').each do |group| %>  
        <div class="list-group-item py-2">
          <%= link_to group, group_things_path(group) %>
          <span class="float-end">
            <% if group.things.empty? %>
              <%= link_to_delete "", group_path(group) %>  
            <% end %>
            <%= link_to_edit "", [:edit, group] %>
          </span>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to_new 'Nuova categoria', new_group_path %> - 
      <%= link_to dm_icon("cut", text: "Mostra materiale senza movimentazioni"), inactive_things_path %>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Ubicazioni</h2>
    <div class="list-group mb-3">
      <% @locations.each do |location| %>  
        <div class="list-group-item py-2">
          <%= link_to location, location_things_path(location) %>
          <span class="float-end">
            <% if location.deposits.empty? %>  
              <%= link_to_delete "", location_path(location) %>
            <% end %>
            <%= link_to_edit "", edit_location_path(location) %>
          </span>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to_new "Nuova ubicazione", new_location_path %> 
    </div>
  </div>
</div>

<div class="my-2 alert alert-info">
  <strong><%= @operations_number %></strong> operazioni nell'anno corrente (<strong><%= @arch_number %></strong> in archivio).
</div>

<div class="row">
  <div class="col-md-8">
    <%= dm_card title: "Ultimi movimenti" do %> 
      <ul>
        <% @operations.each do |o| %>  
          <li title="<%= o.thing %>">
            <%= l o.date %> - <%= o.user %> <%= " per #{o.recipient}" if o.recipient_id %> 
            (<%= t o.type %> di <%= o.number.abs %>)
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= dm_card title: "Ultimi ddt/fatture" do  %>  
      <ul>
        <% for ddt in @ddts do %>  
          <li>
            <%= ddt.gen %> n.<%= link_to ddt.number, ddt %> del <%= l ddt.date %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<% if current_user.is_cesia? %>  
  <%= button_to "Elimina la struttura", dm_unibo_common.organization_path(current_organization), method: :delete, class: "button" %>  
<% end %>
