<h1><%= current_organization.description %> <small class="text-muted"><%= current_organization.id %></small></h1>

<%= render partial: "form" %>
<%= render partial: "users" %>
<%= render partial: "groups" %>
<%= render partial: "picking_points" %>
<%= render partial: "labs" %>
<%= render partial: "cost_centers" %>

<hr/>

<div class="my-2 alert alert-info">
  <strong><%= current_organization.operations.where("YEAR(date) = YEAR(NOW())").count %></strong> operazioni nell'anno corrente (<strong><%= @arch_number %></strong> in archivio).
</div>

<div class="row">
  <div class="col-md-8">
    <%= dm_card title: "Ultimi movimenti" do %> 
      <ul>
        <% current_organization.operations.includes(:thing, :user).order("date desc").limit(10).each do |o| %>  
          <li title="<%= o.thing %>">
            <%= l o.date %> - <%= o.user %> <%= " per #{o.recipient}" if o.recipient_id %> 
            (<%= link_to (t o.type.downcase), thing_moves_path(o.thing_id) %>)
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= dm_card title: "Ultimi ddt/fatture" do  %>  
      <ul>
        <% current_organization.ddts.order("date desc").limit(10).each do |ddt| %>  
          <li>
            <%= ddt.gen %> n.<%= link_to ddt.number, ddt %> <small>(<%= l ddt.date %>)</small>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<% if current_user.is_cesia? %>  
  <%= button_to "Elimina la struttura", dm_unibo_common.organization_path(current_organization), method: :delete, class: "button" %>  
<% end %>
