<h1>Gestione strutture</h1>

<div class="info">
  Con il termine struttura indichiamo una unità di luogo (di solito un Dipartimento)
  dove si trova il materiale di consumo.<br/>
  Per ogni struttura riportiamo a destra i movimenti dell'ultimo anno e tra parentesi 
  quelli totali e quelli archiviati.
</div>

<table class="table table-sm">
  <% @organizations.each do |organization| %>
    <%= content_tag :tr, class: (@this_year_counts[organization.id] ? 'table-info' : 'table-secondary') do %>
      <th><%= organization.code.upcase %></th>
      <th><%= organization.id %></th>
      <td><%= link_to organization.description.upcase, current_organization_edit_path(__org__: organization.code) %></td>
      <td><%= dmicon('shopping-cart') if organization.booking %></td>
      <td><%= dmicon('euro-sign')     if organization.pricing %></td>
      <td><%= dmicon('envelope')      if organization.sendmail %></td>
      <td class="number" nowrap>
        <small>
          tot: <%= @counts[organization.id] || 0 %> 
        arc: <%= @arch_counts[organization.id] || 0 %>
        </small>
      </td>
      <th class="number">
        <%= @last_year[organization.id].try(:year) || 0 %>
      </th>
      <th class="number">
        <%= @this_year_counts[organization.id] || 0 %>
      </th>
    <% end %>
  <% end %>
</table>

