<%= report_layout do %>  
  <h2>Scarichi utente</h2>

  <%= simple_form_for :report, url: scarichi_reports_path, data: { turbo: false } do |f| %>
    <%= render Report::FormatComponent.new(f) %>  
    <%= render Report::PeriodComponent.new(f) %>  

    <%= f.input :user_id, collection: @cache_users, label_method: :cn_militar, label: "Scarichi a nome dell'utente", include_blank: 'Tutti' %>  
    <%= f.input :thing_id, collection: @things, label_method: :short_name, label: "Del materiale", include_blank: 'Qualsiasi' %>  
    <%= f.input :group_id, collection: @groups, label: "Ricerca tra articoli di genere", include_blank: 'Qualsiasi' %>  

    <%= f.input :note, label: "Ricerca parola nelle note" %>  
    <%= f.input :different_pages, label: "Una pagina per ogni utente", as: :boolean %>  

    <%= f.submit "Scarica", input_html: { data: { disable_with: false }} %>
  <% end %>
<% end %>
