<%= report_layout do %>  
  <h2>Ddt</h2>

  <% if @ddts.any? %>
    <%= simple_form_for :report, url: ddts_reports_path, data: { turbo: false } do |f| %>
      <%= render Report::FormatComponent.new(f) %>  

      <%= f.input :ddt_ids, collection: @ddts, as: :check_boxes, label_method: :short_description_with_date %>  
      <%= f.submit "Scarica", input_html: { data: { disable_with: false }} %>
    <% end %>
  <% else %>
    <div class="alert alert-warning">
      Non sono ancora stati registrati ddt.
    </div>
  <% end %>
<% end %>
