<h1>Statistiche</h1>

<ul class="pagination justify-content-center">
  <% (2007..Date.today.year).each do |y| %>  
    <li class="page-item <%= class_active_val(@year, y) %>"><%= link_to y, activity_path(year: y), class: 'page-link' %></li>
  <% end %>
</ul>

<div class="info">
  Numero totale di movimenti <%= @year %>: <strong><%= @total_operations + @total_operations_arch %></strong> (di cui <%= @total_operations_arch %> in archivio)
</div>

<%= dm_card title: "Numero di movimenti per struttura #{@year}" do %>
  <ul>
    <% @count_organization_moves.each do |move| %>  
      <li><%= move.number %>  - <%= link_to move.organization, current_organization_edit_path(__org__: move.organization.code) %></li>
    <% end %>
  </ul>
<% end %>

<%= dm_card title: "Ultimi movimenti per struttura" do %>
  <ul>
    <% @last_organization_moves.each do |move| %>  
      <li><%= l move.date %> - <%= move.organization.description %></li>
    <% end %>
  </ul>
<% end %>

<%= dm_card title: "Numero di carichi per utente #{@year}" do %>
  <ul>
    <% for m in @logins do  %>  
      <li><%= m.number %> - <%= m.upn %></li>
    <% end %>
  </ul>
<% end %>

<%= dm_card title: "Numero di carichi ultimo mese" do %>
  <ul>
    <% @last_month.each do |operation| %>  
      <li><%= operation.date %>: <%= operation.number %></li>
    <% end %>
  </ul>
<% end %>



