<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gestione Multiutente MAteriale di consumo. Università di Bologna.">
    <meta name="author" content="Dipartimento di Matematica - Unibo - Pietro Donatini">
    <title>GE.M.MA - GEstione Multiutente MAteriale di consumo</title>

    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render partial: 'layouts/menu' %>

    <main role="main" class="container">
      <%= render "shared/breadcrumbs" %>
      <%= bootstrap_modal_div %>
      <%= bootstrap_flash %>
      <%= render "shared/recipe" if params[:from_unload] %>

      <% begin %>  
        <%= yield %>
      <% rescue => errore %>
        <%= errore %>
      <% end %>
    </main><!-- container -->

    <%= render partial: 'layouts/footer' %>
  </body>
</html>

