<!DOCTYPE html>
<html lang="it">
  <%= render DmUniboCommon::HeaderComponent.new %>
  <body>
    <%= render partial: 'layouts/menu' %>

    <%= turbo_frame_tag :modal %>

    <main role="main" class="container">
      <%= render "shared/breadcrumbs" %>
      <%= bootstrap_flash %>
      <%= render "shared/recipe" if params[:from_unload] %>

      <% begin %>  
        <%= yield %>
      <% rescue => errore %>
        <%= errore %>
      <% end %>
    </main><!-- container -->

    <%= render partial: 'layouts/footer' %>
  </body>
</html>

