<!DOCTYPE html>
<html lang="it">
  <%= render DmUniboCommon::HeaderComponent.new %>
  <body>
    <%= render partial: 'layouts/menu' %>

    <main role="main" class="container">
      <%= render "shared/breadcrumbs" %>
      <%= render DmUniboCommon::PrivacyAlertComponent.new(cookies) %>  
      <%= render DmUniboCommon::BootstrapAlertComponent.new(flash) %>  
      <%= turbo_frame_tag :modal %>
      <%= render "shared/recipe" if params[:from_unload] %>
      <%= yield %>
    </main>

    <%= render DmUniboCommon::FooterComponent.new current_user, 
                                                  contact_mail: Rails.configuration.unibo_common.contact_mail,
                                                  documentation_path: (current_user ? helps_path : nil) %>  
    <%= render DmUniboCommon::ImpersonationComponent.new current_user, true_user, 
                                                         who_impersonate_path: dm_unibo_common.who_impersonate_path, 
                                                         stop_impersonating_path: dm_unibo_common.stop_impersonating_path %>
  </body>
</html>

